{% extends 'base.html.twig' %}

{% block title %}Voyage{% endblock %}

{% block body %}
    <h1>Voyage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voyage.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ voyage.prix }}</td>
            </tr>
            <tr>
                <th>Img_src</th>
                <td>{{ voyage.imgSrc }}</td>
            </tr>
            <tr>
                <th>Dest_title</th>
                <td>{{ voyage.destTitle }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ voyage.location }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ voyage.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_voyage_index') }}">back to list</a>

    <a href="{{ path('app_voyage_edit', {'id': voyage.id}) }}">edit</a>

    {{ include('voyage/_delete_form.html.twig') }}
{% endblock %}
